/*     VARIABLES     */

:root {
    --white: #ffffff;
    --color-light-gray: #cecece;
    --color-light: #95c7e4;
    --color-medium: #4464ad;
    --color-dark: #282d62;
    --color-dark-gray: #5c5c5c;
    --black: #000000;
    --text: #000000;
    --discord: #7289da;
    --google: #ff3e30;
    --scioly: #fee372;
    --instagram: #833AB4;

    --small-text: 1vh;
    --paragraph-text: 2.5vh;
    --normal-text: 3vh;
    --medium-text: 4vh;
    --large-text: 6vh;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --white: #252525;
        --color-light-gray: #5c5c5c;
        --color-light: #282d62;
        --color-medium: #282d62;
        --color-dark: #14183a;
        --color-dark-gray: #333333;
        --black: #000000;
        --text: #ffffff;
        --discord: #000000;
        --google: #000000;
        --scioly: #000000;
        --instagram: #000000;
    }
} */

/*     GENERAL PAGE     */

body {
    display: block;
    margin: auto;
    overflow-x: hidden;
    overflow-y: visible;

    background-color: var(--white);

    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.double-page {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.double-page .text-segment {
    width: 50%;
}

.double-page .media-segment {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*     TEXT BLOCKS (Moved to Custom Elements)     */

/*     NAVIGATION MENU     */

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    background-color: var(--black);
}

.nav-container {
    background-color: var(--black);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.nav-open {
    display: none;
    outline: 4px solid var(--black);
    border-radius: 0 0 0 15px;
    color: var(--white);
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(8vh - 4px);
    height: calc(8vh - 4px);
    text-align: center;
    vertical-align: middle;
    line-height: 8vh; 
}

.nav-open:hover {
    filter: brightness(75%);
}

nav {
    width: 100vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

nav li {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    cursor: pointer;
}

nav li:hover {
    background-color: var(--color-dark-gray);
}

nav a {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    width: 100%;
}

/*     EMBEDS     */

iframe {
    border: none;
}

.max-form {
    width: 100%;
    height: 100%;
}

.log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1800px; /* May Adjust per Use */
    width: 100%;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.feedback-container{
    display: flex;
    margin-right: auto;
    align-items: left;
    height:1800px;
    width: 100%;
}

/*     BUTTONS (Custom Elements Created)    */

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 80vw;
    margin: auto;
    gap: 2.5vw
}

/*     MOBILE     */

@media (max-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        justify-content: flex-start;
        transform: translateX(-50vw);
        transition: all 0.5s ease-in-out;
    }

    .nav-container.in {
        transform: translateX(0);
    }

    .nav-open {
        display: block;
    }

    nav {
        bottom: 0;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        height: 100%;
    }

    nav li {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #main-page {
        background-size: auto;
    }

    .button-grid {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2.5vh;
    }

    .double-page {
        flex-direction: column;
    }

    .double-page .text-segment {
        width: 100%;
    }

    .double-page .media-segment {
        width: 100%;
    }

    .form-container{
        width: 100vw;
    }

    .form-container {
        width: 100vw;
    }
}
